:root {
  --primary-color: rgba(0, 0, 0, 0.41);
  --background-color: #f3f3f5;
  --border-color: #d3d7e0;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}
main {
  background-color: #f6f7fb;
  height: 100vh;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  margin-inline: 5px;
  border-bottom: 1px solid #dcdee3;
}

header button {
  padding: 5px;
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 3px;
  color: var(--primary-color);
}

header a {
  text-decoration: none;
}

header nav {
  font-family: monospace;
}

header ul {
  color: var(--primary-color);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

header li {
  color: var(--primary-color);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

header li a {
  color: var(--primary-color);
}

header li:hover,
header li:focus-within {
  background: var(--background-color);
  cursor: pointer;
}

header li:focus-within a {
  outline: none;
}

header ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

header ul li:hover > ul,
header ul li:focus-within > ul,
header ul li ul:hover,
header ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

header ul li ul li {
  clear: both;
  width: 100%;
}




.treeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px;
}

.node button {
  margin: 2px;
  border: none;
}

.node input {
  padding-block: 9px;
}

.node-label {
  display: inline-block;
  padding: 9px 18px;
  /*margin: 10px;*/
}


