:root {
    --border-color: #626060;
    --outline-width: 1px;
}

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree,
.tree ul {
    display: table;
}
.tree ul {
    width: 100%;
}
.tree li {
    display: table-cell;
    padding: 1em 0;
    vertical-align: top;
}
.tree li:before {
    outline: solid var(--outline-width) var(--border-color);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.tree li:first-child:before {
    left: calc(50% - 40px);
}
.tree li:last-child:before {
    right: calc(50% + 40px);
}
.tree code,
.tree .node-label {
    font-size: 1rem;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .5em .5em;
    position: relative;
}

.tree .node-label input {
    height: 20px;
    font-size: 1rem;
    border: none;
}


.tree code:before,
.tree .node-label:before {
    outline: solid var(--outline-width) var(--border-color);
    content: "";
    height: .9em;
    margin-inline: 50%;
    left: 0%;
    position: absolute;
}

.addLine:after {
    top: 2.3em;
    outline: solid var(--outline-width) var(--border-color);
    content: "";
    height: .4em;
    margin-inline: 50%;
    left: 0%;
    position: absolute;
}
/*.tree ul:before {*/
/*    outline: solid 1px #666;*/
/*    content: "";*/
/*    height: .4em;*/
/*    margin-inline: 50%;*/
/*    left: 0%;*/
/*    position: absolute;*/
/*}*/
/*.tree ul:before {*/
/*    top: -.5em;*/
/*}*/
.tree code:before,
.tree .node-label:before {
    top: -1em;
}
.tree>li {
    margin-top: 0;
}
.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>.node-label:before {
    outline: none;
}

/*.tree button {*/
/*    margin-inline: 2px;*/
/*}*/

.node-menu {
    width: 80px;
    margin-left: -8px;
    margin-right: 8px;
}


.section {
    height: 90%;
}